.searchBar {
  height: 56px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.content {
  position: absolute;
  width: 100%;
  top: 56px;
  display: flex;
  justify-content: center;
}

.block {
  min-width: 180px;
  outline: solid 1px black;
  height: 32px;
  line-height: 100%;
}

.block input {
  border: none;
}
